# Node.js
node_modules/
build/
dist/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env
.env.local
.env.development
.env.test
.env.production

*.venv
venv/
ENV/
env/
*.egg-info/
*.whl
dist/
database.db
recipes.xlsx


# Electron
out/
*.asar
dist/

# VSCode
.vscode/
*.code-workspace

# Logs and system files
*.log
.DS_Store
Thumbs.db
*.tmp
